@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}
 body {
     margin: 0px;
     padding: 0px;
 }
 a {
     text-decoration: none;
     color: black;
 }

.create-link-form {
    margin: 50px;
}
.input-container {
    padding: 0px;
    height: 50px;
    position: relative;
    h3 {
        transition: all 200ms;
        bottom: 6px;
        height: 20px;
        position: absolute;
        z-index: 0;
    }
    input {
        z-index: 1;
        position: relative;
        font-size: 16px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid black;
        height: 30px;
        margin: 0px;
        padding: 0px;
        &:focus {
            outline: none;
        }
    }
    margin-bottom: 50px;
}
.add-button {
    padding: 10px;
    transition: all 200ms;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(0, 107, 0);
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
        background-color: lighten(rgb(0, 107, 0), 10%)
    }
}
.form-input-container {
    margin-top: 50px;
}
//topbar alkaa tästä

.topbar-container {
    margin: 0px;
    height: 60px;
    background-color: rgb(0, 89, 255);
    a {

        margin: 0px;
    }
    button {
        box-sizing: border-box;
        cursor: pointer;
        height: 60px;
        border: 0px;
        border-top: 4px solid transparent;
        background-color: transparent;
        color: white;
        font-size: 20px;
        &:hover {
            border-top: 4px solid orange;
        }
    }
}
.topbar-buttons-container {
    margin-left: 20px;
}
.home-icon {
}

//HOME alkaa tästä

.home-container {
    margin: 50px;
}
.links-container {
    margin: 0px auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.link-card {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    h3:nth-child(1) {
        width: 200px;
        margin-left: 5px;
    }
    .link-url {
        text-decoration: underline;
        display: block;
        overflow: hidden;
        width: 350px;

    }
    .link-card-button {
        margin-left: auto;
        margin-right: 15px;
    }
    button {
        border: none;
        color: white;
        background-color: rgb(0, 107, 0);
        cursor: pointer;
        width: 80px;
        height: 30px;
        &:hover {
            background-color: lighten(rgb(0, 107, 0), 10%);
        }
    }
}

.links-container-topbar {
    color: white;
    background-color: rgb(0, 89, 255);
}
// .appear-animation {
//     animation: animate linear 0.5s

// }
// @keyframes animate {
//     from {
//         opacity: 0;
//     }
//     to {
//         opacity: 1
//     }
// }