{% extends "index.html" %}
<!-- formi jossa title, 
    link_url -->
{% block content %}
<title>lukuvinkikki</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
<div class="home-container">
    <div class="links-container">
        <h1>Lukuvinkidadat</h1> 
        <div class="link-card links-container-topbar">
            <h3>Nimi</h3>
            <h3>Osoite</h3>

            <form action="/lukuvinkki_haku" method="get">
                <input class="lukuvinkki-haku" placeholder="Hae Lukuvinkkejä" name="search"/>
            </form>

        </div>
        {% for i in lukuvinkit %}
            <div class="link-card">
                <h3>{{i.title}}</h3>
                <a class="link-url" href="{{i.link_url}}">{{i.link_url}}</a>
                <a class="link-card-button" href="links/{{i.id}}">
                    <button class="open-link-button">Avaa</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}