<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Lukuvinkit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/authorization.css') }}">
    <script src="{{ url_for('static', filename='scripts/link_generator.js') }}"></script>
</head>

<body>
    <div class="topbar-container">
        <div class="topbar-buttons-container">
            <a href="/"><button>Lukuvinkkikirjasto</button></a>
            <a href="/addlink"><button class="">Lisää Lukuvinkki</button></a>
            {% if session.id %}
            <a href="/handlelogout"><button class="">Kirjaudu ulos</button></a>
            {% else %}
            <a href="/login"><button class="">Kirjaudu sisään</button></a>
            {% endif %}
        </div>
        {% if session.id %}
        <h2 class="username">{{ session.username }} </h2>
        {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
